:root {
    --green-primary: hsl(171, 66%, 44%);
    --violet-primary: hsl(233, 100%, 69%);
    --gray-neutral: hsl(210, 10%, 33%);
    --grey-light-neutral: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 62.5%;
    font-family: 'Bai Jamjuree', sans-serif;
}

.hero_container {
    width: 100%;
    height: auto;
}

.logo-container {
    width: 100%;
    height: auto;
    padding: 100px 0 50px;

    background-image: url('../images/bg-header-mobile.png');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.logo-figure {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.logo-figure img {
    width: 100%;
    height: 100%;
}

.history-container {
    width: 100%;
    height: auto;
    padding: 0 30px 60px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.history-container p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
}

.history-container p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 20px;
}

.download-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    padding-bottom: 160px;
}

.button {
    width: 311px;
    padding: 15px;

    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 56px;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
}

.primary-button {
    background-color: var(--green-primary);
}

.primary-button:hover {
    transition: ease-in-out .3s;
    background-color: rgba(38, 186, 164, 0.8);

}

.secondary-button {
    background-color: var(--violet-primary);
}

.secondary-button:hover {
    transition: ease-in-out .3s;
    background-color: rgba(97, 115, 255, 0.8);
}

/* section 2 */
.snippets-container {
    width: 100%;
    height: auto;
    text-align: center;
}

.snippet-track-container {
    padding: 0 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.snippet-track-container p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
}

.snippet-track-container p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 20px;
}

.snippet-data-container figure {
    width: 312px;
    height: 238px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.snippet-data-container figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.data-info-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px 160px;
}

.data-info-container div:nth-child(1) p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
}

.data-info-container div:nth-child(1) p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 20px;
}

.data-info-container div:nth-child(2) p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
}

.data-info-container div:nth-child(2) p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 20px;
}

.data-info-container div:nth-child(3) p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
}

.data-info-container div:nth-child(3) p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 20px;
}

/* seccion 3 */
.access-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;

    padding: 0 40px 40px;
}

.access-text_one p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
    padding-bottom: 12px;
}

.access-text_one p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 20px;
}

.access-container figure {
    width: 100%;
    height: 238px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.access-container figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.access-text_two p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
    padding-bottom: 12px;
}

.access-text_two p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 30px;
}

.advantages-container {
    width: 100%;
    height: auto;
    padding: 30px 40px 40px;
    text-align: center;
}

.advantage-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
}

.advantage-info .logo {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.advantage-info .list {
    background-image: url('../images/icon-blacklist.svg');
}

.advantage-info .plain {
    background-image: url('../images/icon-text.svg');
}

.advantage-info .sneak {
    background-image: url('../images/icon-preview.svg');
    width: 49px;
}


.advantage-info .advantage-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-neutral);
    line-height: 30px;
}

.advantage-info .advantage-p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-light-neutral);
    line-height: 20px;
}